

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"> Inicio Sesion </h2>
        <form  [formGroup]="form">
          <input type="text" id="username" formControlName="username"  class="fadeIn second"  placeholder="Ingrese el usuario">
          <input type="password" id="password" formControlName="password" class="fadeIn third"  placeholder="Ingrese la clave">
          <button type="submit" id="button" class="fadeIn fourth"  (click)="login()">Login</button>
        </form>
    </div>
  </div>