#sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  flex: 1;
}

#wrapper {
  display: flex;
  min-height: 100vh;
}

#sidebarToggle {
  margin-right: 10px;
}

.logo-container {
  height: 56px;
  background-color: #f8f9fa;
  /* Color de fondo, puedes cambiarlo si prefieres otro */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #007bff;
  /* Color del logo */
  text-transform: uppercase;
  /* Todo en mayúsculas */
  letter-spacing: 2px;
  /* Espacio entre letras */
}
